:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background: #fff;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  border: 1px solid #000;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  color: #000;
  background-color: #efefef;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #cfcfcf;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
